@charset "utf-8";
body {
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	display: block;
}
.reservenow {
	margin: 45;
	background-color: #E40F0F;
	top: 50px;
	left: 35px;
	table-layout: fixed;
	text-align: center;
	}
